<!-- Inner Page Banner Area End Here -->
<!-- Sponsors Area Start Here -->
<section class="section-space-default bg-light">
    <div class="container">
        <div class="section-heading title-black color-dark text-center">
            <h2>{{_('Our sponsors and partners')}}</h2>
            <p>{{_('We would be probably not able to make this event happen without support of our generous sponsors.')}}</p>
            <p>{{_('Check who made this event possible!')}}</p>
        </div>

        <div class="sponsonrs-layout1">
          {% for category in ['Platinum sponsors', 'Silver sponsors', 'Bronze sponsors', 'Django Girls & PyLadies Sponsor', 'Media partners', 'Partners'] %}
          <h3 class="color-dark title-black text-center sponsors-title">{{_(category)}}</h3>
          <div class="row sponsor-row justify-content-center">{% for sponsor in sponsors[category] %}
              <div class="{% if category not in ['Platinum sponsors', 'Silver sponsors'] %}col-xl-3 {% endif %}{% if category != 'Platinum sponsors' %}col-lg-4 {% endif %}col-md-6 col-sm-6 col-xs-12 align-self-center">
                  <div class="sponsonrs-box sponsor-details {{ sponsor['class'] }} mx-auto mt-5 mr-1 ml-1 mb-1">
                      <a href="{{ sponsor['link'] }}" target="_blank">
                          <img class="img-responsive img-fluid" src="{{ url_for('static', filename=sponsor['logo']) }}" alt="{{ sponsor['alt'] }}"/>
                      </a>
                  </div>
              </div>{% endfor %}
          </div>
          {% endfor %}
        </div>
    </div>
</section>