{% extends "body.html" %}
{% block content %}
<!-- Inner Page Banner Area Start Here -->
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Call for Proposals') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2024</a>
            </li>
            <li><a href="{{ url_for('speakers', lang_code=lang_code) }}">{{ _('Speakers') }}</a></li>
            <li>{{ _('Call for Proposals') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Content Page Area Start Here -->
<section class="section-space-less30">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>{{ _('Call for Proposals for PyConSK 2024 is open!') }}</h3>
        <p class="text-justify">
          {{ _('We are looking for speakers who can inspire, educate and engage our audience with talks and workshops covering a wide range of topics related to Python and its ecosystem. Whether you\'re an experienced Python developer, data scientist, web developer, or just a Python enthusiast, we\'d love to hear from you.') }}
        </p>

        <h3>{{ _('Anyone can be part of the conference.') }}</h3>
        <p class="text-justify">
          {{ _('PyConSK is organized by the Python community for the community, and every conference participant is a part of it. If you feel that the results of your work or research could interest others, come and share your knowledge and observations. We don\'t want to hear lectures only from experts or well-known names, we value different perspectives and stimulating contributions from everyone who dares to speak in front of an audience.') }}
        </p>

        <h3>{{ _('Give us a tip') }}</h3>

        <p class="text-justify">
          {{ _('Do you know about a speaker that would be a good fit for our conference? <b>Let us know:</b>') }} <a href="mailto:info@pycon.sk">info@pycon.sk</a>
        </p>

        <p class="text-center mt-4">
          <a href="https://forms.gle/zPwvqFU5oxEAoFua8" target="_blank" class="btn-fill size-lg border-radius-5 color-yellow mt-4">{{ _('Submit your proposal') }}<br>{{ _('(form in english)') }}</a>
          <a href="https://forms.gle/5NTyBc4cVC36Fd4u8" target="_blank" class="btn-fill size-lg border-radius-5 color-yellow mt-4">{{ _('Submit your proposal') }}<br>{{ _('(form in slovak)') }}</a>
        </p>

        <h3>{{ _('Instructions for submitting Call for Proposals ') }}</h3>
        <p class="text-justify mb-2">
          {{ _('There is no official restriction on the topic of the lecture or workshop. However, you will be most likely to engage PyCon attendees with topics related to Python and the Python community. The commission selecting contributions to the conference understands the ability to engage with the given topic as one of the key criteria. ') }}
        </p>
        <p class="text-justify mb-2">
          {{ _('You can also submit <b>several proposals for talks or workshops</b>. However, you must fill out the form separately for each proposal.') }}
        </p>
        <p class="text-justify mb-2">
          {{ _('We also welcome <b>talks and workshop topics for complete beginners</b>, which could be included in the Beginner\'s Track - section for participants who have no experience with Python. ') }}
        </p>
        <p class="text-justify mb-2">
          {{ _('If you want to submit your proposal, fill out our CfP form and follow the instructions in it. ') }}
        </p>
        <p class="text-justify">
          <strike>{{ _('The deadline for submitting proposals is 01.01.2024') }}.</strike><br>
          <b>{{ _('The deadline for submitting proposals is 20.01.2024') }}.</b>
        </p>

        <div class="sponsor-details mt-4">
          <div class="sponsor-info">
            <h4 class="sponsor-name mb-1"><i class="fa fa-microphone" aria-hidden="true"></i> {{ _('Talks') }}</h4>
            <p class="text-justify">
              {{ _('30 minutes are reserved for most talks. In the case of particularly interesting or important topics, we can also offer a limited number of 45-minute time slots.') }}
            </p>
          </div><!-- Info end -->
        </div><!-- Sponsor details -->

        <div class="sponsor-details">
          <div class="sponsor-info">
            <h4 class="sponsor-name mb-1"><i class="fa fa-wrench" aria-hidden="true"></i> {{ _('Workshops') }}</h4>
            <p class="text-justify">
              {{ _('As with talks, we also want to offer workshops that can enrich participants at different user levels. Our goal is to improve the skills and knowledge of the Python community through hands-on demonstrations and assignments. Since the workshops require more time for both preparation and implementation, we have set time slots of varying length (1 hour, 2 hours or 3 hours).') }}
            </p>
          </div><!-- Info end -->
        </div><!-- Sponsor details -->

        <div class="sponsor-details">
          <div class="sponsor-info">
            <h4 class="sponsor-name mb-1"><i class="fa fa-step-forward"  aria-hidden="true"></i> {{ _('Beginner\'s track') }}</h4>
            <p class="text-justify">
              {{ _('PyCon is not just for experienced programmers. Our effort is to spread knowledge, promote the Python programming language and create a diverse, supportive community where all members can learn from each other and develop together. That is why we are preparing a section for beginners who have little or no experience with Python. Within this section, we want to offer participants talks and workshops that will introduce them to Python-related topics and motivate them to further develop their skills.') }}
            </p>
          </div><!-- Info end -->
        </div><!-- Sponsor details -->


        <h3>{{ _('Benefits for speakers') }}</h3>
        <p class="text-justify">
          <ul>
            <li>- {{ _('Opportunities for networking with other speakers and attendees.') }}</li>
            <li>- {{ _('Entry to the social event and a PyConSK 2024 T-shirt.') }}</li>
            <li>- {{ _('An opportunity to share your expertise with the Python community.') }}</li>
          </ul>
        </p>

        <h3>{{ _('Contact Information') }}</h3>
        <p class="text-justify">
          {{ _('If you have any questions or need additional information, contact us at info@pycon.sk  We look forward to all proposals!') }}
        </p>


        <h3>{{ _('Consent to the recording release') }}</h3>
        <p class="text-justify">
          {{ _('One of the motivations for organizing PyCon is to help spread knowledge, educate in Python programming and support it in Slovakia and abroad. That is also why we plan to record all talks from the conference, stream them live and then publish them all on the web. ') }}
        </p>
        <p class="text-justify">
          {{ _('By sending a proposal for a talk or workshop or signing up for a lightning talk, you give consent to SPy o.z. to record, edit and publish an audio and/or video recording of your presentation. ') }}
        </p>
        <p class="text-center">
          <a href="{{ url_for('recording', lang_code=lang_code) }}" class="btn-fill size-md border-radius-5 color-blue"> {{ _('Full recording release statement') }}
          </a>
        </p>

      </div>
    </div>
  </div>
</section>
<!-- Content Page Area End Here -->
{% endblock %}

{% block js %}
{% endblock %}
