{% extends "body.html" %}

{% block content %}
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Call for Volunteers') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2024</a>
            </li>
            <li><a href="{{ url_for('aboutus', lang_code=lang_code) }}">{{ _('About Us') }}</a></li>
            <li>{{ _('Call for Volunteers') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Content Page Area Start Here -->
<section class="section-space-less30">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <p class="text-justify">
          {{ _('PyCon SK is organized by the Python community and for the Python community.') }}
          {{ _('All of our staff members are volunteers. We are looking for new members to join the team of organizers.') }}
          {{ _('This is a great opportunity to meet people, make new friends and learn new things.') }}
        </p>

        <p class="text-justify">
          {{ _('As a volunteer you get a free ticket to the conference as a thank you for making a change in our society.') }}
          {{ _('If you are a Slovak citizen and you work at least 40 hours a year as a volunteer, you can donate 3%% of your tax liability to any registered non-profit.') }}
        </p>

        <p class="text-justify">
          {{ _('Volunteer registration: ') }}
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSduilZhP3V_4SpTWgatoXI_yfIcVMqSFd9NcQA5q0UGFdjauA/viewform?usp=sf_link" target="_blank" class="external">Google form</a>
        </p>

      </div>
    </div>
  </div>
</section>
<!-- Content Page Area End Here -->
{% endblock %}


{% block js %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; Countdown form.js &ndash;&gt;-->
<!--<script async src="{{ url_for('static', filename='form.js') }}"></script>-->
{% endblock %}
