{% extends "body.html" %}

{% block content %}
<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Program') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2024</a>
            </li>
            <li>{{ _('Program') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <span class="arrowleft">{% if li_saturday == 'active' %}<a href="{{ url_for('friday', lang_code=lang_code) }}">&lt;</a>{% elif li_sunday == 'active' %}<a
                href="{{ url_for('saturday', lang_code=lang_code) }}">&lt;</a>{% else %}&lt;{% endif %}</span>
        &nbsp;<span class="icon-wrap"><i class="fa fa-calendar"></i></span>&nbsp;
        <span class="arrowright">{% if li_friday == 'active' %}<a href="{{ url_for('saturday', lang_code=lang_code) }}">&gt;</a>{% elif li_saturday == 'active' %}<a
                href="{{ url_for('sunday', lang_code=lang_code) }}">&gt;</a>{% else %}&gt;{% endif %}</span>
        <h2 class="section-title">{{ day }}</h2>
        {# <p class="section-sub-title">{{ _('Schedule') }}</p>#}
      </div>
    </div><!--/ Title row end -->

    <div class="row">
      <div class="col-md-12">
        <div class="schedule-tab">
          <ul class="nav nav-tabs" id="nav-tabs">
            {% for room in rooms %}
              <li class="nav-item">
                <a class="animated fadeIn nav-link {% if room.active %}active{% endif %}" href="#tab_{{ room.slug }}" data-toggle="tab">
                      <span class="tab-head">
                      <span class="tab-text-title">{{ room.title }}</span>
                    </span>
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="tab-content">

            {% for room in rooms %}
              <div class="tab-pane {% if room.active %}active{% endif %} animated fadeInRight" id="tab_{{ room.slug }}">
                <h2 class="schedule-date">{{ room.title }}</h2>
                {% for block in room.talks %}
                  {% include 'includes/schedule_room.html' %}
                {% endfor %}
              </div>
            {% endfor %}

          </div><!-- tab content -->
        </div><!-- Schedule tab end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->
  </div><!-- Container end -->
</section><!-- Main container end -->
{% endblock %}
