{% extends "body.html" %}
{% block content %}

<section class="inner-page-banner {{ background}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs-area">
          <h1>{{ _('Virtual Swag') }}</h1>
          <ul>
            <li>
              <a href="{{ url_for('index', lang_code=lang_code) }}">PyCon SK 2024</a>
            </li>
            <li>{{ _('Virtual Swag') }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Inner Page Banner Area End Here -->
<!-- Sponsors Area Start Here -->
<section class="section-space-default bg-light">
  <div class="container">
    <div class="section-heading title-black color-dark text-center">
      <h2>{{_('Virtual Swag from our partners')}}</h2>
      <p>{{_('Enjoy virtual swag from our partners!')}}</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-9 align-self-center text-center mt-4">
        {% for item in swag %}
        <div>
          <h2>{{ item.title }}</h2>
            {% if item.img %}
            <a href="{{ item.link }}" target="_blank">
              <img class="img-responsive" src="{{ url_for('static', filename='img/swag/'+item.img) }}" alt="img">
            </a>
            {% elif item.img_double %}
              <div class="row justify-content-center">
                <div class="col-8 col-md-6 mt-3">
                  <a href="{{ url_for('static', filename='img/swag/'+item.img_double[0]) }}" target="_blank">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/swag/'+item.img_double[0]) }}" alt="img">
                  </a>
                </div>
                <div class="col-8 col-md-6 mt-3">
                  <a href="{{ url_for('static', filename='img/swag/'+item.img_double[1]) }}" target="_blank">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/swag/'+item.img_double[1]) }}" alt="img">
                  </a>
                </div>
              </div>
            {% endif %}
            <a href="{{ item.link }}" target="_blank" class="mt-4">
              {{_('More details')}}
              <svg width="20px" height="20px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg>
            </a>
          </a>
          <hr>
        </div>
        {% endfor %}


      </div>
    </div>

  </div>
</section>

{% endblock %}